## .git*
*.sublime-workspace

help

*.app_*
CVIEW*.DAT
_RedTest_
_generate_
_archive_
_backup_

ClassViewer.sb~
ClassViewer.dbg
ClassViewer.txt
ClassViewerSetup.csv
ClassViewerSetup.htm
ClassViewerSetup.exe
ClassViewerSetup_*.zip

KwikSourceSearch.sb~
KwikSourceSearch.dbg
KwikSourceSearch.txt
SetupKSSOpen.csv
SetupKSSOpen.htm
SetupKSSOpen.exe
SetupKSSOpen_*.zip

############
## Clarion
############
*.FileList.xml
*.MAP
#*.exe
**/Cla*.dll
*.ini
*.cache
obj/**

*/obj/**
*.obj
*.rsc
*.RSC
*.bpp
*.bct
*.dctx
*.ap~
*.$$$
PWEE*.txt
*.txa
*.res
*.exp
*.version
*.manifest
*.BLD


*.ocx
*.old_dct

_archive_
_feedback_
source
release
working
debug
clw
version
classes
text
lib

Styles

############
## Windows
############
# Windows image file caches
Thumbs.db
