## .git*
*.sublime-workspace

*.app_*
CVIEW*.DAT
_RedTest_
ClassViewer.sb~
ClassViewer.dbg
ClassViewer.txt
ClassViewerSetup.csv
ClassViewerSetup.htm

############
## Clarion
############
*.FileList.xml
*.MAP
#*.exe
**/Cla*.dll
*.ini
*.cache
obj/**

*/obj/**
*.obj
*.rsc
*.RSC
*.bpp
*.bct
*.dctx
*.ap~
*.$$$
PWEE*.txt
*.txa
*.res
*.exp
*.version
*.manifest
*.BLD


*.ocx
*.old_dct

_archive_
_feedback_
source
release
working
debug
clw
version
classes
text
lib

Styles

############
## Windows
############
# Windows image file caches
Thumbs.db
